{% extends "base.html" %}

{% block title %}

default page 

{% endblock %}


{% block content %}
<h3> You reached the detail page!</h3>

<a href="{% url 'blog:showall' %}" class="btn btn-primary">Back to all posts</a>

<div class="row text-center">
   
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100 w-75">
            
          <div class="card-body">
            <p>

              <img src="/media/{{post.image}}" alt="{{post.headline}}" class="img-fluid" style="width: 650px; height: 100%;">
            </p>
            <h4 class="card-title">{{post.headline}}</h4>
            <p class="card-text">{{post.content | safe}}</p>
           
          </div>
          <div class="card-footer">
            
            created: {{post.created_on }} <br/>

            last updated: {{post.updated_on }}
            
          </div>
        </div>
      </div>
   
</div>

<article class="mb-4">
  <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <img src="/media/{{post.image}}" alt="{{post.headline}}" class="img-fluid" style="width: 650px; height: 100%;">

            {{post.headline}}

            {{post.content}}

            created: {{post.created_on }} <br/>

            last updated: {{post.updated_on }}

          </div>
      </div>
  </div>
</article>


<div class="row text-center">

  <a href="" class="btn btn-primary">Add new comment</a>

 

  <form action="{% url 'blog:detail'  post.slug %}" method="POST"> 
    {% csrf_token %}
    <div class="form-floating">

      <label for="author">your name:</label>
      <input type="text" id="author" name="author" required
         minlength="4" maxlength="45" size="100"><br/>

        <label for="author">your email:</label>
        <input type="text" id="authoremail" name="authoremail" required
           minlength="4" maxlength="45" size="100"><br/>
        
        <textarea class="form-control" placeholder="Leave a comment here" 
              style="height: 100px" id="content" name="content"></textarea>
        <label for="floatingTextarea2">Leave a comment here.</label>
        <br>
        <button type="submit" class="btn btn-primary">Comment</button>
    </div>
  </form>
  
<br/>
  {% for comment in comments %}
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100 w-75">
          
        <div class="card-body">
          <h4 class="card-title">{{comment.created_on}}</h4>
          <p class="card-text">{{comment.content}}</p>
         
        </div>
        <div class="card-footer">
          
          {{comment.author}}
        </div>
      </div>
    </div>
  {% endfor %}
</div>


{% endblock %}